<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/firstPage/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    <title>{{.}} </title>
</head>
<body>
    <header class="header">
        <div class ="container"></div>
            <div class="header__inner">
                <div class="header__logo">
                   
                <img src="/assets/firstPage/img/logo.png" alt="">
            </div>
            <nav class="nav">
                <a class="nav__link" href="/contacts/">Home</a>
                <a class="nav__link" href="#">Services</a>
                <a class="nav__link" href="#">Team</a>
                <a class="nav__link" href="#">Skills</a>
                <a class="nav__link" href="#">Portfolio</a>
                <a class="nav__link" href="#">About Us</a>
                <a class="nav__link" href="#">Contact</a>
            </nav>
        </div>
    </header>
    <div class="intro">
        <div class="container"></div>
            <div class="intro__inner">
                <h2 class="intro__title"> Hi there! We are the new kids on the block and we build awesome websites and mobile apps.</h2>
                <a class="btn" href="">Work with us!</a>
            </div>
        </div>
     
    <div class="intro__second">
        <div class="container"></div>
            <div class="intro__one">
                <h2 class="intro__secondtitle">SERVICES WE PROVIDE</h2>
                <div class="intro__text">We are working with both individuals and businesses from all over the globe to create awesome websites and applications.</div>
                </div>

     
        
            <div class="features">
                <div class="features__item">
                    <img class="features__icon" src="/assets/firstPage/img/flag.png" alt="">
                    <h1 class="features__title">Branding</h1>
                    <div class="features__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</div>
                </div>
                <div class="features__item">
                    <img class="features__icon" src="/assets/firstPage/img/crayon.png" alt="">
                    <h1 class="features__title">Design</h1>
                    <div class="features__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</div>
                </div>
                <div class="features__item">
                    <img class="features__icon" src="/assets/firstPage/img/gears.png" alt="">
                    <h1 class="features__title">Development</h1>
                    <div class="features__text">At vero eos et accusamus et iusto odio dignissimos qui blanditiis praesentium.</div>
                </div>
                <div class="features__item">
                    <img class="features__icon" src="/assets/firstPage/img/rocket.png" alt="">
                    <h1 class="features__title">ROCKET SCIENCE</h1>
                    <div class="features__text">Et harum quidem rerum est et expedita distinctio. Nam libero tempore.</div>
                </div>
            </div>
        </div>
        
        
    <div class="intro__third">
        <div class="container">
            <div class="intro__two">
                <h2 class="intro__thirdtitle">MEET OUR BEAUTIFUL TEAM</h2>
                <div class="intro__thirdtext">We are a small team of designers and developers, who help brands with big ideas.</div>
            </div> 
        </div>
    
    
                <div class="team">
                    <div class="team__item">
                        <img class="team__icon" src="/assets/firstPage/img/crug.png" alt="">
                        <h1 class="team__title">ANNE HATAWAY</h1>
                        <p class="team__subtitle">CEO / Marketing Guru</p>
                        <div class="team__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</div>
                    </div>
                    <div class="team__item">
                        <img class="team__icon" src="/assets/firstPage/img/crug.png" alt="">
                        <h1 class="team__title">KATE UPTON</h1>
                        <p class="team__subtitle">Creative Director</p>
                        <div class="team__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</div>
                    </div>
                    <div class="team__item">
                        <img class="team__icon" src="/assets/firstPage/img/crug.png" alt="">
                        <h1 class="team__title">OLIVIA WILDE</h1>
                        <p class="team__subtitle">Lead Designer</p>
                        <div class="team__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</div>
                    </div>
                    <div class="team__item">
                        <img class="team__icon" src="/assets/firstPage/img/crug.png" alt="">
                        <h1 class="team__title">ASHLEY GREENE</h1>
                        <p class="team__subtitle">SEO / Developer</p>
                        <div class="team__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</div>
                    </div>
                </div>
            </div>   
    
    
    
    <div class="intro__fourth">
        <div class="container">
            <div class="intro__three">
                <h2 class="intro__fourthtitle">WE GOT SKILLS!</h2>
                <div class="intro__fourthtext">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </div> 
        </div>
        
        
                <div class="skills">
                    <div class="skills__item">
                        <img class="skills__icon" src="/assets/firstPage/img/90.png" alt="">
                        <h1 class="skills__title">WEB DESIGN</h1>
                    </div>
                    <div class="skills__item">
                        <img class="skills__icon" src="/assets/firstPage/img/75.png" alt="">
                        <h1 class="skills__title">HTML / CSS</h1>
                    </div>
                    <div class="skills__item">
                        <img class="skills__icon" src="/assets/firstPage/img/70.png" alt="">
                        <h1 class="skills__title">GRAPHIC DESIGN</h1>
                    </div>
                    <div class="skills__item">
                        <img class="skills__icon" src="/assets/firstPage/img/85.png" alt="">
                        <h1 class="skills__title">UI / UX</h1>
                    </div>
                </div>
            </div>
    
    <div class="intro__fifth">
        <div class="container">
            <div class="intro__four">
                <h2 class="intro__fifthtitle">OUR PORTFOLIO</h2>
                <div class="intro__fifthtext">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </div> 
        </div>
        
            <div class="list__group">
                <a class="col-1" href="#">All</a>
                <a class="col-1" href="#">Web</a>
                <a class="col-1" href="#">Apps</a>
                <a class="col-1" href="#">Icons</a>
                </div>
                
        
                <div class="skill">
                    <div class="skill__item">
                        <img class="skill__icon" src="/assets/firstPage/img/work_1.png" alt="">
                        <h1 class="skill__title">ISOMETRIC PERSPECTIVE MOCK-UP</h1>
                    </div>
                    <div class="skill__item">
                        <img class="skill__icon" src="/assets/firstPage/img/work_2.png" alt="">
                        <h1 class="skill__title">TIME ZONE APP UI</h1>
                    </div>
                </div>
                <div class="col">    
                    <div class="skill__item">
                        <img class="skill__icon" src="/assets/firstPage/img/work_3.png" alt="">
                        <h1 class="skill__title">VIRO MEDIA PLAYERS UI</h1>
                    </div>
                    <div class="skill__item">
                        <img class="skill__icon" src="/assets/firstPage/img/work_4.png" alt="">
                        <h1 class="skill__title">BLOG / MAGAZINE FLAT UI KIT</h1>
                    </div>
                </div>
                <div class="col-2">
                    <button class="btn__two">Load more projects</button>
                </div>





        <div class="intro__six">
            <div class="container">
                <div class="intro__five">
                    <h2 class="intro__sixtitle">WHAT PEOPLE SAY ABOUT US</h2>
                    <div class="intro__sixtext">Our clients love us!</div>
                </div> 
            </div>
                <div class="about__us">
                    <div class="about__item">
                        <div class="about__icon"></div>
                        <h5 class="about__title">“Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.”</h5>
                        <h1 class="about__subtitle">CHANEL IMAN</h1>
                        <p class="about__onesubtitle">CEO of Pinterest</p>
                        </div>
                    
                
                    <div class="about__item">
                        <div class="about__icon"></div>
                        <h5 class="about__title">“Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.”</h5>
                        <h1 class="about__subtitle">ADRIANA LIMA</h1>
                        <p class="about__onesubtitle">Founder of Instagram </p>
                        </div>
                    </div>   
                <div class="col-5">
                    <div class="about__item">
                        <div class="about__icon"></div>
                        <h5 class="about__title">“Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.”</h5>
                        <h1 class="about__subtitle">ANNE HATHAWAY</h1>
                        <p class="about__onesubtitle">Lead Designer at Behance</p>
                        </div>
                   
                    <div class="about__item">
                        <div class="about__icon"></div>
                        <h5 class="about__title">"Phasellus non purus vel arcu tempor commodo. Fusce semper, purus vel luctus molestie, risus sem cursus neque.”</h5>
                        <h1 class="about__subtitle">EMMA STONE</h1>
                        <p class="about__onesubtitle">Co-Founder of Shazam</p>
                        </div>
                    </div>
                </div>
            
                
         
                
        <div class="intro__seven">
            <div class="container">
                <div class="intro__seventh">
                    <h2 class="intro__seventitle">GET IN TOUCH</h2>
                    <div class="intro__seventext">1600 Pennsylvania Ave NW, Washington, DC 20500, United States of America. Tel: (202) 456-1111</div>
                </div> 
            </div>


        <div class="container">
            <div class="intro__eight">
            <input type="text" class="input__one" value="" placeholder="First Name">
            <input type="text" class="input__two" value="" placeholder="Last Name">
            </div>
        </div>
        <div class="isma">
            <input type="text" class="input__three" value="" placeholder="Your message">
        </div>
        <div class="btn__three">
            <button type="submit" class="btn__four btn--blue">SEND MESSAGE</button>    
        </div>
            
    

</body>


</html>